/*For Radio Button To Tabbing start*/
.radio_wrapper{
	clear: both;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	position: relative;
	margin: 0;
    padding-top: 9px;
    padding-bottom: 0;
    line-height: inherit;
	
}
input.stv-radio-tab + label:hover {
    /*background-color: #eee;*/
    background-color: #fff;
    color: #444;
}

input.stv-radio-tab + label {
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-left: .5em;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 24px;
    background: #e5e5e5;
    color: #555;
}

input.stv-radio-tab:checked + label {
    border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
    margin-bottom: -1px;
}

input.stv-radio-tab {
  position: absolute;
  left: -99999em;
  top: -99999em;
 }
/* Title */ 
h1.main-title{
	color: #0073aa;
	font-weight:bold;
}
.links {
    margin: 10px;
}
.all-fields {
    padding-left: 10px;
}
